html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
}
ul {
  display: flex;
}

/* Normalize finished */

.header-menu {
  float: right;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  margin-right: 30px;
}
header {
  padding-top: 10px;
  background-color: #ffc107;
}
.header-menu li {
  margin-right: 15px;
  font-weight: bold;
}
@media only screen and (max-width: 1246px) {
  .header-menu {
    display: none;
  }
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.logo {
  height: 50px;
  position: relative;
  top: -5px;
  left: 30px;
}
.content {
  padding-top: 55px;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
a:hover {
  color: black;
}
.signup-button {
  background-color: #9c27b0;
  border: none;
  width: 90px;
  height: 40px;
  position: relative;
  top: -8px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  font-size: 15px;
}
.signup-button:hover {
  background-color: rgba(156, 39, 176, 0.9);
}
.first {
  width: calc(100% + 20px);
  background-color: #ffc107;
  min-height: 600px;
}
.home {
  font-size: 40px;
  justify-content: center;
  padding-left: 50px;
  padding-top: 100px;
  font-weight: 700;
}
.home-small {
  font-size: 28px;
  padding-top: 30px;
  font-weight: 600;
}
.home-button {
  border: none;
  background-color: #851c97;
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  width: 256px;
  height: 42px;
  border-radius: 5px;
  font-weight: bold;
}
.home-button:hover {
  background-color: rgba(156, 39, 176, 0.9);
}
